{% extends "plantillaBase.php.twig" %}

{% block titulo %}
	<h1 class="mt-4">Editar Genero</h1>
{% endblock %}

{% block cabecera %}
	<div class="container">
		<br>

		<div class="container-flex">
			<div class="navbar navbar-expand-lg navbar-light bg-success">
				<a class="navbar-brand" href="#"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">

						{% for item in usu %}
							<li class="nav-item active">
								<a class="nav-link text-light" href="index.php?ope=listar&con=receta&email={{item.Correo}}&pass={{item.Contraseña}}">Inicio</a>
							</li>

						{% endfor %}

						{% for item in usu %}
							{% if item.Admin != 0 %}
								<li class="nav-item">
									<a class="nav-link text-light" href="index.php?ope=anadir&con=receta&email={{item.Correo}}&pass={{item.Contraseña}}">Añadir Recetas</a>
								</li>
							{% endif %}

						{% endfor %}


						{% for item in usu %}
							<li class="nav-item">
								<a class="nav-link text-light" href="index.php?ope=perfil&con=login&email={{item.Correo}}&pass={{item.Contraseña}}">Perfil</a>
							</li>

						{% endfor %}

						<li class="nav-item">
							<a href="index.php?ope=listar&con=login" class="nav-link text-light">Salir</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block contenido %}

		{% for item in usu %}
			<form action="/recetas/index.php" method="get">
				<input type="hidden" name="con" value="login"/>
				<input type="hidden" name="ope" value="editar"/>

				<input type="hidden" id="id" name="id" value="{{ item.IdUsu }}" readonly/>
				<input type="hidden" id="email" name="email" value="{{ item.Correo }}" readonly/>
				<input type="hidden" id="pass" name="pass" value="{{ item.Contraseña }}" readonly/>
				

				<div class="row form-group">

					<div class="col-md-4 mx-auto">

						<label class="col-form-label" for="NomUsu">Nombre:
						</label>
						<input type="text" class="form-control" id="NomUsu" name="NomUsu" value="{{ item.NomUsu }}"/>
					</div>

					<div class="col-md-4 mx-auto">
						<label class="col-form-label" for="ApeUsu">Apellido:
						</label>
						<input class="form-control" type="text" id="ApeUsu" name="ApeUsu" value="{{ item.ApeUsu }}"/>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-4 mx-auto">
						<button class="btn btn-outline-success w-100" type="submit">Actualizar</button>
					</div>
				</div>
			</form>

		{% endfor %}

	</div>

{% endblock %}
